@media (max-width: 360px) {
	.desktop {
		display: none;
	}
	.cards-header {
		flex-wrap: wrap;
		width: 90vw;
	}
	.baner-inicio {
		height: max-content;
	}
	.card-h-item {
		margin: 10px 5px;
	}
	.card-h-titulo {
		font-size: 1.1rem;
	}
	* {
		font-size: 1.2rem;
	}
	.title-1 {
		font-size: 2rem;
	}
	.subtitle-1 {
		font-size: 1.8rem;
	}
	.principal-title-2 {
		font-size: 2rem;
	}
	.caption-2 {
		font-size: 1.8rem;
	}
	.principal-title-1 {
		font-size: 2rem;
	}
	.caption-1 {
		font-size: 1.8rem;
	}
	.container {
		padding: 10px;
	}
	.services-description {
		flex-wrap: wrap;
	}
	.description-item {
		max-width: 100%;
	}
	.container-footer {
		position: initial;
		flex-wrap: wrap;
		background: #206666;
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
	}
	footer {
		position: initial;
		height: max-content;
	}
	.cards-midias-sociais {
		flex-wrap: wrap;
		width: 90vw;
	}
	.card-ms-item {
		width: 100%;
		margin: 10px 0px;
	}
	.w-50 {
		max-width: 100%;
	}
	.cards-lives-groups {
		width: 90vw;
	}
	.cards-lives {
		max-width: 100%;
	}
	.prop-intelectual {
		background-image: url("../img/background-propriedade-2.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media (max-width: 480px) {
	section.section-info {
		flex-wrap: wrap;
		padding: 5vw;
	}
	.info-principal-title {
		font-size: 10vw;
	}
	.paragraph-title {
		font-size: 6vw;
	}
	.section-info .menu-info {
		order: 2;
		width: 100%;
		padding: 0;
	}
	.section-info .info-content {
		order: 1;
		padding: 0;
		/* margin: 0px auto;*/
		width: 100%;
	}
	.desenvolvido {
		margin: 10px auto;
		margin-top: 20px;
		width: 70%;
	}
	footer p {
		text-align: center;
	}
	.icon {
		width: 60%;
		margin: auto;
		margin-bottom: 10px;

	}
	.icon img {
		width: 30px;
	}
	.card-h-item .card-h-body {
		max-height: initial;
	}
	.desktop {
		display: none;
	}
	.cards-header {
		flex-wrap: wrap;
		width: 90vw;
	}
	.baner-inicio {
		height: max-content;
	}
	.card-h-item {
		margin: 10px 5px;
		width: 100%;
		height: max-content;
		position: relative;
	}
	.card-ms-body {
		min-height: 435px;
	}
	.card-h-titulo {
		font-size: 1.1rem;
	}
	* {
		font-size: 1.2rem;
	}
	.title-1 {
		font-size: 2rem;
	}
	.subtitle-1 {
		font-size: 1.8rem;
	}
	.principal-title-2 {
		font-size: 2rem;
	}
	.caption-2 {
		font-size: 1.8rem;
	}
	.principal-title-1 {
		font-size: 2rem;
	}
	.caption-1 {
		font-size: 1.8rem;
	}
	.container {
		padding: 10px;
	}
	.services-description {
		flex-wrap: wrap;
	}
	.description-item {
		max-width: 100%;
	}
	.container-footer {
		position: initial;
		flex-wrap: wrap;
		background: rgb(1, 129, 148);
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
	}
	footer {
		position: initial;
		height: max-content;
	}
	.cards-midias-sociais {
		flex-wrap: wrap;
		width: 90vw;
	}
	.card-ms-item {
		width: 100%;
		margin: 10px 0px;
		max-width: 85vw;
	}
	.w-50 {
		max-width: 100%;
	}
	.cards-lives-groups {
		width: 90vw;
	}
	.cards-lives {
		max-width: 350px;
    margin: 10px auto;
		width: 100%;
	}
	.prop-intelectual {
		background-image: url("../img/background-propriedade-2.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.card-ms-titulo {
		font-size: 1rem;
	}
	.card-ms-titulo strong {
		font-size: 1.1rem;
	}
	.bg-footer {
		bottom: initial;
		margin-top: -9vh;
	}
	.vitrine-square {
		right: 11% !important;
	}
	.thumb-noticias {
		float: left;
		max-width: max(100%, 400px);
		margin-right: 1vw;
	}
	/* Ajuste das animações para mobile */
	.vitrine-circle {
		width: 32vw;
	}
	.vitrine-circle2 {
		width: 60vw;
	}
	.events-circle {
		top: 9vh;
		width: 50vw;
	}
	.midias-circle {
		width: 50vw;
	}
	.midias-circle2 {
		width: 38vw;
	}
	.events-calendar {
		width: 36vw;
		margin-left: 5vw;
	}
	.bg-header-cicle-1 {
		width: 45vw;
		margin-left: 5vw;
	}
	/*Ajuste de logo footer*/
	.logo-footer img {
		width: 20vw;
	}
	.logo-footer .risc {
		width: 20vw;
	}

	/*Ajuste do botão saiba mais em midias sociais*/
	.card-ms-item .btn-saibamais {
		font-size: 1rem;
		padding: 5px 15px;
		margin: 5px auto;
	}
	.contact-title-mob {
		font-size: 1.6rem;
		margin: 10px 0px;
	}
	.bg-contatos-prop{
		margin-top: 0vh;
	}
	.btn-blue{
		padding: 1.2vh 8vw;
	}
	.event-list-page{
		margin: 0px;
	}
	.event-list-page .cards-lives-groups{
		width: 100%;
	}
}
@media (max-width: 800px) and (min-width: 481px) {
	.desktop {
		display: none;
	}
	.cards-header {
		flex-wrap: wrap;
		width: 90vw;
	}
	.baner-inicio {
		height: max-content;
	}
	.card-h-item {
		margin: 10px 5px;
		max-width: 450px;
	}
	.card-h-titulo {
		font-size: 1.1rem;
	}
	* {
		font-size: 1.2rem;
	}
	.title-1 {
		font-size: 2rem;
		white-space: pre-wrap;
	}
	.subtitle-1 {
		font-size: 1.8rem;
	}
	.principal-title-2 {
		font-size: 2rem;
	}
	.caption-2 {
		font-size: 1.8rem;
	}
	.principal-title-1 {
		font-size: 2rem;
	}
	.caption-1 {
		font-size: 1.8rem;
	}
	.container {
		padding: 10px;
	}
	.services-description {
		flex-wrap: wrap;
	}
	.description-item {
		max-width: 100%;
	}
	.container-footer {
		position: initial;
		flex-wrap: wrap;
		background: #018194;
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
	}
	footer {
		position: initial;
		height: max-content;
	}
	.bg-footer {
		bottom: initial;
		margin-top: -6vh;
	}
	.cards-midias-sociais {
		flex-wrap: wrap;
		width: 90vw;
		max-width: 500px;
	}
	.card-ms-item {
		width: 100%;
		margin: 10px 0px;
	}
	.w-50 {
		max-width: 100%;
	}
	.cards-lives-groups {
		width: 95vw;
	}
	.cards-lives {
		max-width: 350px;
		width: 100%;
		margin: 10px auto;
	}
	.prop-intelectual {
		background-image: url("../img/background-propriedade-2.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	section.prop-intelectual {
		padding: 10vh 10px;
	}
	footer p {
		font-size: 1rem;
	}
	.desenvolvido,
	.fale-conosco {
		width: auto;
		padding: 10px;
	}
	.card-ms-titulo {
		font-size: 1rem;
	}
	.card-ms-titulo strong {
		font-size: 1.1rem;
	}
	.row-2 img {
		width: 2vh;
	}
	.row-1 {
		width: 100%;
	}
	.cards-info {
		padding: 15px 10px;
	}
	.icon img {
		width: 3vh;
	}
	.bg-header-cicle-1 {
		width: 40vw;
	}
	.bg-header-wave-2 {
		bottom: initial;
		margin-top: -25vw;
	}
	.events-hash1 {
		width: 30vw;
		margin-left: 0;
		margin-bottom: 0;
	}
	.events-hash2 {
		margin-left: 30vw;
		width: 15vw;
	}
	.midias-circle {
		width: 45vw;
	}
}
/* @media (max-width: 801px) { */
/* tablet, landscape iPad, lo-res laptops ands desktops */
/* }; */
/* @media (max-width: 1025px) { */
/* big landscape tablets, laptops, and desktops */
/* } */
/* @media (min-width: 1281px) { */
/* hi-res laptops and desktops */
/* } */
